{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/nobody.jpg' %}" width="75%" />
    </div>
    <div class="col-8">
     <h1>About Page</h1>

    <h2>Your Bookings</h2>

    {% if user_bookings %}
        <ul>
            {% for booking in user_bookings %}
                <li>{{ booking.date }} - Table {{ booking.table_number }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No bookings found.</p>
    {% endif %}
{% endblock content %}